
.icon-mail-1:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin-1:before { content: '\f0e1'; } /* '' */
.icon-instagram-1:before { content: '\f16d'; } /* '' */
.icon-dribbble-1:before { content: '\f17d'; } /* '' */
